.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c9e7cb; 
  color: #222;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* margin-bottom: 10px; */
  /* box-shadow: 1px 1px 10px hsl(218, 86%, 84%); */
}

.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.header__nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: 700;
  transition: 0.1s;
}

.links{
  color:#555;
}

.links:hover {
  color: #2e6930; 
}

.login-btn,
.logout-btn {
  background: #3d8c40;
  color: #ffffffd3;
  padding: 6px 15px;
  border: 2px solid #3d8c40;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover,
.logout-btn:hover {
  background: #c9e7cb;
  color: #444;
  border: 2px solid #0f2310;
  transition: 0.5s;
}
